/* DON'T TOUCH THIS! */
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}
.header {
  font-family: 'Lora', serif;
  color: #143774;
  background: #f8f8f8;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  padding: 0.75em;
  margin: 0;
  width: 100%;
}

.post-title {
  color: #1792d2;
  font-size: 2rem;
}

.post-description {
  color: #707070;
  font-size: 1.125rem;
}

.post {
  background: #e1e1e1;
}
/* DON'T TOUCH THIS! */

/* ==========================
	Write your solution here!
   ========================== */
